.fontRoboto {
  font-family: 'Roboto', sans-serif;
}
/*Colores*/
body[layout="login"] {
  background: linear-gradient(to bottom, #FFFFFF, #E6E6E6 40%);
  background-color: black;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
body[layout="login"] .logo {
  margin-top: 50px;
  width: 100%;
  max-width: 450px;
}
body[layout="login"] input {
  border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
}
body[layout="login"] #frmLogin {
  margin-top: 60px;
}
body[layout="login"] footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
}
body[layout="login"] footer .btn-danger {
  color: white !important;
}
body[layout="login"] label.validateError {
  color: red;
  margin-bottom: 0px;
  font-size: 13px;
  padding-left: 10px;
}
body[layout="login"] input.validateError {
  color: #B40404;
  margin-bottom: 0px;
  font-size: 14px;
}
body[layout="home"] {
  background: #FAFAFA;
}
body[layout="home"] #menuPrincipal {
  background: white;
}
body[layout="home"] #menuPrincipal #tituloModulo {
  color: #0011c3;
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
body[layout="home"] #menuPrincipal .logo {
  height: 35px;
}
body[layout="home"] #menuPrincipal a {
  color: #0011c3;
}
body[layout="home"] #menuPrincipal button {
  color: #0011c3;
  border: none;
}
body[layout="home"] #menuPrincipal button span {
  color: #0011c3;
}
body[layout="home"] .ocultar {
  display: none;
}
body[layout="home"] #modulo {
  padding-top: 60px;
  height: 100%;
  overflow-y: scroll;
  margin-bottom: 10px;
}
body[layout="home"] [modulo=home] .venta {
  font-size: 11px;
}
.btn-group-xs > .btn,
.btn-xs {
  padding: 8px;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}
a {
  color: #0011c3;
}
#WindowLoad {
  position: fixed;
  z-index: 9999;
  text-align: center;
  top: 0px;
  opacity: .6;
  background: black;
  color: white;
}
#WindowLoad div {
  font-size: 20px;
  font-weight: bold;
}
.card {
  padding-bottom: 10px;
}
.card .card-title {
  margin: 5px;
}
.modal .modal-header {
  background-color: #0011c3;
  color: white;
  border-bottom: 1px solid #0011c3;
}
.modal .modal-header .modal-title {
  color: white;
  font-size: 16px;
}
.modal .modal-header .close {
  color: white;
  opacity: 1;
}
[modulo] label.validateError {
  font-size: 12px;
}
.nav.nav-red {
  background-color: #B40404;
  color: white;
}
.nav.nav-red .nav-item a {
  color: white;
}
.nav.nav-red .nav-item a.active {
  background: red;
}
html,
body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
}
html [panel],
body [panel] {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: scroll;
}
html .row,
body .row {
  margin-left: 0px;
  margin-right: 0px;
}
html [modulo] > .row:last-child,
body [modulo] > .row:last-child {
  margin-bottom: 100px;
}
body .xdsoft_timepicker {
  width: 38px !important;
}
body .xdsoft_datepicker {
  width: 200px !important;
}
body .xdsoft_month {
  width: 80px !important;
}

/*# sourceMappingURL=style.css.map */