@mq-xs-max: 767px;
@mq-sm-min: (@mq-xs-max+1px);
@mq-sm-max: 991px;
@mq-md-min: (@mq-sm-max+1px);
@mq-md-max: 1199px;
@mq-lg-min: (@mq-md-max+1px);

.fontRoboto{
	font-family: 'Roboto', sans-serif;
}

/*Colores*/
@color1: #D94F29;
@color2: #EBB54B;
@color3: #0431B4;
@color4: #4B9DEB;
@color5: #170A1F;
@rojo: #B40404;
@rojo2: #190707;

@grisClaro: #F2F2F2;
@grisOscuro: #BDBDBD;

//@bgLogin: '../img/bg.jpg';
@bgLogin: '../img/bgLogin.jpg';
@bgNav: '../img/bgNav.jpg';
@bgPie: white;